
{% extends "layout.html" %}
{% load static %}
{% comment %} {%load filters%} {% endcomment %}

{%block content%} 
    <h2>Academic Manager</h2>
    <br>
    <p class="categoriasP">Bienvenido al sistema de gesión de información de la UCT, para entrar al gestor de cualquiera de las categorias, de click sobre ella.</p>
    <div class="categoriasUrl">
        <a class="boton" href={%url 'mostrarCarreras'%}>Carreras</a>
        <a class="boton" href={%url 'mostrarEstudiantes'%}>Estudiantes</a>
        <a class="boton" href={%url 'mostrarMaterias'%}>Materias</a>
        <a class="boton" href={%url 'mostrarProfesores'%}>Profesores</a>
    </div>
{%endblock%}
