
{% extends "layout.html" %}
{% load static %}
{% comment %} {%load filters%} {% endcomment %}

{%block content%} 
    <h2 class="h2">Carreras</h2>
    <br>
    <div class="divAñadir">
        <a class="boton" href={%url 'añadirCarrera'%}>Añadir Carrera</a>
    </div>
    <hr>
    <h3>Datos</h3>
    <hr>
    <div class="carrera">
            {% for carrera in carreras %}
                <li>
                    <div class="datos">
                        <p>{{carrera.carNombre}}</p> 
                        <a class="boton" href="{%url 'mostrarCarrera' carrera.id%}"> Ver Mas </a>
                    </div>
                </li>
            {% endfor %}
    </div>
{%endblock%}

