
{% extends "layout.html" %}
{% load static %}
{% comment %} {%load filters%} {% endcomment %}

{%block content%} 
    <h2 class="h2">Estudiantes</h2>
    <br>
    <div>
        {% comment %} {% if messages %}
        {% for message in messages %}
            <div class="message">
                {{message}}
            </div>
        {% endfor %}
    {% endif %} {% endcomment %}
    <br>
    <hr>
    <div class="estudiantes">
        <ul>
            {% for estudiante in estudiantes %}
                <li>
                    <p><strong>Nombre:</strong> {{estudiante.estNombre}} {{estudiante.estApellido}}</p> 
                    <p><strong>Carrera:</strong> {{estudiante.estCarrera}} </p>
                    <br>
                    {% comment %} {% url "eliminarArticulo" article.id%} {% endcomment %}
                    <a>Mas información</a>
                    <a>Borrar</a>
                </li>
                <hr>
            {% endfor %}
        </ul>
    </div>
{%endblock%}


