
{% extends "layout.html" %}
{% load static %}
{% comment %} {%load filters%} {% endcomment %}

{%block content%} 
    <h2 class="h2">Estudiante</h2>
    <br>
    <div>
        {% comment %} {% if messages %}
        {% for message in messages %}
            <div class="message">
                {{message}}
            </div>
        {% endfor %}
    {% endif %} {% endcomment %}
    <br>
    <hr>
    <div class="estudiantesDetalle">
        <ul>
            {% for estudiante in estudiantes %}
                <li>
                    <p><strong>Foto:</strong> {{estudiante.estFoto}} </p>
                    <p><strong>Nombre:</strong> {{estudiante.estNombre}} {{estudiante.estApellido}}</p> 
                    <p><strong>Carrera:</strong> {{estudiante.estCarrera}} </p>
                    <p><strong>Email:</strong> {{estudiante.estEmail}} </p>
                    <p><strong>Telefono:</strong> {{estudiante.estTelefono}} </p>
                    <p><strong>Fecha de nacimiento:</strong> {{estudiante.estFechaNacimiento}} </p>
                    <br>
                    {% comment %} {% url "eliminarArticulo" article.id%} {% endcomment %}
                    <a class="boton" href={%url 'mostrarEstudiantes'%}>Volver</a>
                    <a class="boton" href={%url 'modificarEstudiante' estudiante.id%}>Actualizar</a>
                    <a class="boton" href={%url 'eliminarEstudiante' estudiante.id%}>Borrar</a>
                </li>
                <hr>
            {% endfor %}
        </ul>
    </div>
{%endblock%}