
{% extends "layout.html" %}
{% load static %}

{%block content%}
    <section>
        <div class="Btnvolver">
            <a class="boton" href={%url 'academicManager'%}>Volver</a>
        </div>
        <h2 class="h2">Estudiantes</h2>
        <br>
        <div class="divAñadir">
            <a class="boton" href={%url 'añadirEstudiante'%}>Añadir Estudiante</a>
        </div>
        <div>
            {% if messages %}
                {% for message in messages %}
                    <div class="message">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %} 
        <hr>
        <h3>Datos</h3>
        <hr>
        <div class="estudiante">
                {% for estudiante in estudiantes %}
                    <li>
                        <div class="datos">
                            <p>
                                {% if estudiante.estFoto != 'null' and estudiante.estFoto.url|length >= 1%}
                                    <img src="{{estudiante.estFoto.url}}">
                                {% endif %} 
                            </p>
                            <strong>{{estudiante.estNombre}} {{estudiante.estApellido}}</strong> 
                            <p>{{estudiante.estCarrera}} </p>
                            <a class="boton" href={%url 'mostrarEstudiante' estudiante.id%}>Ver Mas</a>
                        </div>
                    </li>
                {% endfor %}
        </div>
    </section>
{%endblock%}


