
{%extends 'layout.html'%}
{%load static%} 

{% block content %} 
    <h2>Añadir Estudiante</h2>
    <br>
    {% comment %} {% if form.errors %}
        <strong style:"color: red;">Ha ocurrido un error:
        {{form.errors}}
        </strong>
    {% endif %} {% endcomment %}
    <form action="{%url 'añadirEstudiante'%}" method="POST">
        {% csrf_token %}
        {{ formulario.as_p }}
        <div class="divEnviar">
            <input class='enviar' type="submit" value="Guardar"/>
        </div>
    </form>
{% endblock %}