
{% extends "layout.html" %}
{% load static %}

{%block content%}
    {% if messages %}
    {% for message in messages %}
        <div class="message">
            {{message}}
        </div>
    {% endfor %}
    {% endif %} 
    <br>
    <section class="estudiantesInicio">
        <div class="estudiantesInicioImg">
            <img src="{% static 'img/estudiantesInicio.jpg' %}" alt="">
        </div>
        <div class="estudiantesInicioP"> 
            <h3>¡Bienvenidos a la UCT!</h3>
            <br>
            <p>Ingresa al portal 'Academic Manager' para gestionar eficientemente datos de alumnos, profesores, carreras y materias, donde podrás actualizar y borrar información según sea necesario.</p>
            <br>
            <div>
                <a class="boton" href="{%url 'academicManager'%}">Ingresa Aquí</a>
            </div>
        </div>
    </section>
{%endblock%}