
{%load static%} <!-- Carga la carpeta static y su contenido -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inder&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/proyectStyle.css' %}">
    <link rel="shortcut icon" href="{% static 'img/logo.ico' %}" type="image/x-icon">
    <title>Proyecto UCT</title>
</head>
<body>
    <header> 
        <div class="headerLogo">
            <div class="headerImg">
                <img src="{% static 'img/logo.png' %}" alt="Logo UCT">
            </div>
            <div class="headerInfo">
                <h1>Universidad Ceicotol Tolima</h1>
                <p>UCT Academic Manager</p>
            </div>
        </div>
        <div>
            {% if user.email %}
                <div class="navDatos">
                    <p>Bienvenid@, {{user.username}}.</p>
                    <small>{{user.email}}</small>
                    <div>
                        <a class="logOut" href="{%url 'logout'%}">Cerrar Sesion</a>
                    </div>
                </div>
            {% else %}
                <div class="navRegister">
                    <a href="{%url 'registrarse'%}">Registrarse</a>
                    <a href="{%url 'login'%}">Iniciar Sesion</a>
                </div>
            {% endif %}
        </div>
    </header>
    
    <nav class="nav">
        <a href={%url 'index'%}>Inicio</a>
        <a href={%url 'quienesSomos'%}>Quienes Somos</a>
        <a href={%url 'contactos'%}>Contactanos</a>
    </nav>

    <section id="content">  
        <div class="box"> 
            {%block content%}  
            {%endblock%}
        </div>
    </section>
    
    <footer>  
        <p><strong>&copy; All Rights Reserved | Universidad Ceitocol Tolima</strong></p>
    </footer>

</body>
</html>