
{%load static%} <!-- Carga la carpeta static y su contenido -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inder&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/proyectStyles.css' %}">
    <title>Proyecto UCT</title>
</head>
<body>
    <header> 
        <div class="logo">
            <img src="{% static 'img/logo.png' %}" alt="Logo UCT">
            <div>
                <h1>UCT Academic Manager</h1>
                <p>Universidad Ceicotol Tolima</p>
            </div>
        </div>
    </header>
    
    <nav class="nav">
        <a href={%url 'index'%}>Inicio</a>
        <a href={%url 'quienesSomos'%}>Quienes Somos</a>
        <a href={%url 'academicManager'%}>Academic Manager</a>
        <a href={%url 'contactos'%}>Contactanos</a>
    </nav>

    <section id="content">  
        <div class="box"> 
            {%block content%}  
            {%endblock%}
        </div>
    </section>
    
    <footer>  
        <p><strong>&copy; All Rights Reserved | María Paula Buenaventura García</strong></p>
    </footer>

</body>
</html>