
{% extends "layout.html" %}
{% load static %}
{% comment %} {%load filters%} {% endcomment %}

{%block content%} 
    <h2 class="h2">Materias</h2>
    <br>
    <a href={%url 'añadirMateriaForm'%}>Añadir Materia</a>
    <hr>
    <div class="materia">
        {% for materia in materias %}
                <li>
                    <p><strong>Nombre:</strong> {{materia.matNombre}}</p> 
                    <br>
                    <a href={%url 'mostrarMateria' materia.id%}>Mas información</a>
                </li>
                <hr>
        {% endfor %}
    </div>
{%endblock%}




