
{%extends 'layout.html'%}
{%load static%} 

{% block content %}
    <section class="añadirDatos">
        <div class="Btnvolver">
            <a class="boton" href={%url 'mostrarMaterias'%}>Volver</a>
        </div>
        <h2>Añadir Materia</h2>
        <br>
        <form action="{%url 'añadirMateria'%}" method="POST">
            {% csrf_token %}
            {{ formulario.as_p }}
            <div class="divEnviar">
                <input class='enviar' type="submit" value="Guardar"/>
            </div>
        </form>
    </section>
{% endblock %}