
{% extends "layout.html" %}
{% load static %}
{% comment %} {%load filters%} {% endcomment %}

{%block content%} 
    <h2 class="h2">Profesor</h2>
    <br>
    <div>
        {% comment %} {% if messages %}
        {% for message in messages %}
            <div class="message">
                {{message}}
            </div>
        {% endfor %}
    {% endif %} {% endcomment %}
    <hr>
        {% for profesor in profesores %}
            <li>
                <div class="detalles">
                    <div class="detallesFotoBoton">
                        <p>
                            {% if profesor.profFoto != 'null' and profesor.profFoto.url|length >= 1%}
                                <img src="{{profesor.profFoto.url}}">
                            {% endif %} 
                        </p>
                        <div>
                            <a class="boton" href={%url 'mostrarProfesores'%}>Volver</a>
                            <a class="boton" href={%url 'modificarProfesor' profesor.id%}>Actualizar</a>
                            <a class="boton" href={%url 'eliminarProfesor' profesor.id%}>Borrar</a>
                        </div>
                    </div>
                    <div class="detallesInfo">
                        <p><strong>Nombre:</strong> {{profesor.profNombre}} {{profesor.profApellido}}</p>
                        <p><strong>Materia:</strong> {{profesor.profCMaterias}} </p>
                        <p><strong>Email:</strong> {{profesor.profEmail}} </p>
                        <p><strong>Telefono:</strong> {{profesor.profTelefono}} </p>
                        <p><strong>Fecha de nacimiento:</strong> {{profesor.profFechaNacimiento}} </p>
                    </div>
                </div>
            </li>
        {% endfor %}
{%endblock%}