
{%extends 'layout.html'%}
{%load static%} 

{% block content %}
    <section class="modificarDatos">
        <div class="Btnvolver">
            <a href={%url 'mostrarProfesores'%}><img src="{% static 'img/volver.png' %}" alt="Volver"></a>
        </div>
        <h2>Modificar Datos</h2>
        <br>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ formulario.as_p }}
            <div class="divEnviar">
                <input class='enviar' type="submit" value="Guardar"/>
            </div>
        </form>
    </section>
{% endblock %}