
{% extends "layout.html" %}
{% comment %} {%load filters%} {% endcomment %}

{%block content%} 
    <h2 class="h2">Profesores</h2>
    <br>
    <div class"profesores">
        {% for profesor in profesores %}
                <li>
                    <p><strong>Nombre:</strong> {{profesor.profNombre}} {{profesor.profApellido}}</p> 
                    <p><strong>Email:</strong> {{profesor.profEmail}} </p>
                    <br>
                    {% comment %} {% url "eliminarArticulo" article.id%} {% endcomment %}
                    <a>Mas información</a>
                    <a>Borrar</a>
                </li>
                <hr>
        {% endfor %}
    </div>
{%endblock%}


{% load static %}