
{%extends 'layout.html'%}
{%load static%} 

{% block content %}
    <section class="añadirDatos">
        <div class="Btnvolver">
            <a href={%url 'mostrarProfesores'%}><img src="{% static 'img/volver.png' %}" alt="Volver"></a>
        </div>
        <h2>Añadir Profesor</h2>
        <br>
        <form action="{%url 'añadirProfesor'%}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ formulario.as_p }}
            <div class="divEnviar">
                <input class='enviar' type="submit" value="Guardar"/>
            </div>
        </form>
    </section>
{% endblock %}