
/*?Index & Generales*/

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

span {
    color: transparent;
    width: calc(25% - 5px); 
    text-align: center;
    line-height: 40px;
    font-size: 18px;    
}

/* header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

nav {
    background-color: #444;
    padding: 10px 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

nav a:hover {
    text-decoration: underline;
} */

/*?Calculadora*/

.calculadoraSection {
    margin: 50px;
}

.calculadora {
    width: 350px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #10ad8e;
    border: 1px solid;
}

#operacion {
    font-size: 24px;
    padding: 10px;
    margin-bottom: 30px; 
    background-color: black;
    color: white;
    border-radius: 5px;
    height: 45px;
}

.botones {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

input[type="button"] {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    width: 70px; /* Ajusta el ancho de los botones */
    padding: 10px;
    margin: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffc23f;
}

.botones input.signos {
    background-color: lightblue;
    font-weight: bold;
}

.botones input.borrar {
    background-color: rgba(255, 0, 0, 0.658);
    font-weight: bold;
}

.botones input.igual {
    background-color: rgb(255, 136, 0);
    font-weight: bold;
}

input[type="button"]:hover {
    background-color: #fcaf0a;
    transition: all 300ms;
}

.botones input.signos:hover {
    background-color: rgb(118, 203, 231);
    transition: all 300ms;
}

.botones input.borrar:hover {
    background-color: rgb(255, 0, 0);
    transition: all 300ms;
}

.botones input.igual:hover {
    background-color: rgb(214, 115, 1);
    transition: all 300ms;
}

/*?Reloj*/

#reloj {
    margin: 0 auto;

}


/*?Formulario*/

.contenedor {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.formularioSection {
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="checkbox"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="checkbox"] {
    display: inline-block;
    width: auto;
    margin-right: 5px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}
