
/*?Index & Generales*/

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    background-color: #d6e1e465;
    margin: 0;
    padding: 0;
}

span {
    color: transparent;
    width: calc(25% - 5px); 
    text-align: center;
    line-height: 40px;
    font-size: 18px;    
}

h1 {
    text-align: center;
}

header {
    background-color: #108dad;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
} 

nav {
    display: flex;
    justify-content: space-around;
    background-color: lightblue;
    padding: 10px 20px;
    margin-bottom: 20px;
}

nav a {
    color: #000;
    text-decoration: none;
    margin-right: 10px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
} */

.contenedor {
    margin: 0 auto;
}

/*?Calculadora*/

.calculadoraSection {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

.calculadora {
    width: 350px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #108dad;
    border: 1px solid;
}

#operacion {
    font-family: "Kode Mono", monospace;
    font-size: 24px;
    padding: 10px;
    margin-bottom: 30px; 
    background-color: black;
    color: white;
    border-radius: 5px;
    height: 45px;
}

.botones {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

input[type="button"] {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    width: 70px; /* Ajusta el ancho de los botones */
    padding: 10px;
    margin: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffc23f;
}

.botones input.signos {
    background-color: lightblue;
    font-weight: bold;
}

.botones input.borrar {
    background-color: rgba(255, 0, 0, 0.658);
    font-weight: bold;
}

.botones input.igual {
    background-color: rgb(255, 136, 0);
    font-weight: bold;
}

input[type="button"]:hover {
    background-color: #fcaf0a;
    transition: all 300ms;
}

.botones input.signos:hover {
    background-color: rgb(118, 203, 231);
    transition: all 300ms;
}

.botones input.borrar:hover {
    background-color: rgb(255, 0, 0);
    transition: all 300ms;
}

.botones input.igual:hover {
    background-color: rgb(214, 115, 1);
    transition: all 300ms;
}

/*?Reloj*/

.relojSection {
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 100vh; 
    margin: 50px;
}

.relojBorde {
    background-color:  #108dad;
    border-radius: 50px;
    padding: 40px;
}

.relojFondo {
    background-color: lightblue;
    border-radius: 30px;
    padding: 25px 80px;
}

#reloj {
    font-family: "Kode Mono", monospace;
    font-style: normal;
    margin: 0 auto;
    padding: 30px 5px 30px 5px;
    width: 300px;
    text-align: center;
    background-color: white;
    font-size: 100px;
    border-radius: 5px;
}

.relojBordeAbajo {
    background-color: grey;
    width: 400px;
    height: 16px;
    margin: 0;
}

.relojBordeAbajo2 {
    background-color: rgba(0, 0, 0, 0.747);
    width: 400px;
    height: 16px;
    margin: 0;
}

.tempYcronometro {
    margin: 60px;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

/*?Formulario*/

.contenedor {
    margin: 0 auto;
    padding: 20px;
}

.formularioSection {
    margin: 30px;
    padding: 20px;
}

h2 {
    margin-bottom: 50px;
    color: #333;
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="checkbox"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #108dad;
    border-radius: 5px;
}

input[type="checkbox"] {
    display: inline-block;
    width: auto;
    margin-right: 5px;
}

input[type="submit"] {
    margin-top: 30px;
    background-color: #108dadb9;
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #108dad;
}
