
html {
    font-size: 62.5%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/bg.bmp);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    color: rgb(221 220 252);
    font-size: 5rem;
    text-decoration: underline;
}

button {
    color: rgb(221 220 252); 
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.103);
    padding: 1rem 2rem;
    border: 1px solid rgba(255, 255, 255, 0.486);
    border-radius: 1rem;
}


button:hover{
    background-color: rgba(90, 79, 241, 0.548);
}

.contenedor {
    text-align: center;    
}

.botones {
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton { 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(221 220 252);
    font-size: 2.5rem;
    padding: 1.5rem;
}

#contador {
    font-size: 2rem;
    margin: 2rem;
    padding: 1rem 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.288);
    border: 1px solid rgba(255, 255, 255, 0.486);
    border-radius: 1rem;
}
