
/*?Reglas Generales*/

:root {
    /*Colores*/
    --gris: #222831;
    --grisClaro: #494f5c;
    --azulClaro: #94d6da;
    --blanco: #EEEEEE;
    --negro: #13161b;
    --verde: #93d332;
    --rojo: #d33232;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inder", sans-serif;
    font-style: normal;
    text-decoration: none;
}

body {
    background-color: var(--blanco);
}

li {
    list-style: none;
}

p {
    font-size: 18px;
    text-align: center;
}

hr {
    border: 2px solid var(--grisClaro);
}

h3 {
    color: var(--negro);
    padding: 5px;
    text-align: center;
    font-size: 25px;
}


/**Header*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    background-color: var(--gris);
    border: 1px solid var(--negro);
    padding-bottom: 20px;
}

header img {
    display: block;
    width: 125px;
    float: left;
    margin: 20px 0 0 0;
}

header h1 {
    font-size: 32px;
    text-align: left;
    letter-spacing: 2px;
    margin: 23px 20px 0 0;
    color: var(--blanco);
}

header p {
    color: var(--blanco);
    text-align: start;
    font-size: 16px;
}

header div {
    margin: 20px;
}

.headerImg {
    display: flex;
    align-items: center;
    margin: 0;
}

.headerLogo {
    display: flex;
    align-items: center;
}

.headerInfo {
    display: flex;
    flex-direction: column;
    margin: 0;
}


/**Nav*/

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--gris);
    border: 1px solid var(--negro);
    margin: 0 auto;
    box-shadow: 0px 6px 14px var(--azulClaro);
}

.nav a{
    display: block;
    padding: 0 20px 0 20px;
    line-height: 40px;
    float: left;
    color: var(--blanco);
    font-weight: bold;
}

.nav a:hover{
    background-color: var(--grisClaro);
    border-radius: 5px;
    box-shadow: 0px 0px 5px #31363F inset;
    color: var(--azulClaro);
    transition: all 600ms;
}

#content {
    width: 1300px;
    margin: 40px auto 30px auto;
}

.formEstFeNa, .formProfFeNa{
    color: gray;
    font-size: 15px;
}

#content .box {
    background-color: var(--blanco);
    width: 95%;
    min-height: 600px;
    padding: 20px ;
    padding-bottom: 70px;
    padding-top: 50px;
    margin: 0 auto;
    border-radius: 5px;
}

.box h2{
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    color:  var(--negro);
    font-size: 40px;
}

.divAñadir {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 10px 60px 10px;
}

.boton { 
    border: 1px solid var(--grisClaro);
    background-color: var(--gris);
    color: var(--blanco);
    padding: 5px;
    border-radius: 5px;
}

.boton:hover {
    background-color: var(--negro);
    box-shadow: 0px 0px 5px var(--gris) inset;
    color: #99dde0;
    transition: all 600ms;
}

footer {
    background-color: var(--gris);
    border: 1px solid var(--gris);
    color: var(--blanco);
    text-align: center;
    padding: 10px 0 10px 0;
    box-shadow: 0 0 20px var(--azulClaro);
    margin: 0 auto;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--gris);
    border-radius: 5px;
    box-shadow: 0 0 10px var(--azulClaro);
    margin-top: 20px;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 15px 0px;
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box; 
}

form input::placeholder {
    font-size: 15px;
}

form input:focus {
    background-color: var(--azulClaro);
    color: var(--blanco);
    transition: all 600ms;
    outline: none;
}

input:focus::placeholder {
    color: var(--blanco);
    transition: all 600ms;
}

input[type="file"] {
    width: 100%;
    border: 1px solid var(--grisClaro);
    background-color: var(--gris);
    color: var(--blanco);
    padding: 10px 10px;
    border-radius: 5px;
    font-weight: bold;
}

input[type="file"]::-webkit-file-upload-button {
    background-color: var(--gris);
    color: var(--blanco);
    padding: 10px 20px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

input[type="file"]::-webkit-file-upload-button:hover {
    background-color: var(--negro);
    box-shadow: 0px 0px 5px var(--azulClaro);
    color: var(--azulClaro);
    transition: all 600ms; 
}

.formMatDesc {
    font-size: 15px;
    width: 95%; 
    height: 150px; 
    padding: 10px;
    margin: 10px 0;
    font-size: 16px; 
    border: 1px solid gray; 
    border-radius: 5px; 
    resize: none; 
}

.formMatDesc:focus {
    border-color: var(--azulClaro);
    outline: none; 
    background-color: var(--azulClaro);
    transition: all 600ms;
}

.categoriasP {
    text-align: center;
    margin: 20px 0 40px 0;
}

.formMatDesc:focus::placeholder {
    color: var(--blanco);
    transition: all 600ms;
}

.errorlist li {
    padding: 10px 0px;
    color: var(--rojo);
    font-weight: bold;
}

form label {
    color: var(--blanco);
    font-weight: bold;
}

form .divEnviar {
    display: flex;
    justify-content: center;
    align-items: center;
}

form .enviar {
    width: 50%;
    border: 1px solid var(--gris);
    background-color: #3b404b;
    color: var(--blanco);
    padding: 10px 3px;
    border-radius: 5px;
    font-weight: bold;
}

form .enviar:hover {
    background-color: rgb(25, 27, 31);;
    box-shadow: 0px 0px 5px var(--azulClaro) inset;
    color: var(--azulClaro);
    transition: all 600ms;
}

.estudiante, .materia, .profesor, .carrera {
    list-style: none;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px; 
    padding: 10px;
    margin: 5px;
} 

.datos {
    border: 3px solid;
    animation: cambioColor 3s infinite alternate; 
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 5px; 
    margin-top: 10px;
}

.datos img {
    width: 250px;
    height: 270px;
}

.message {
    text-align: center;
    background-color: var(--verde);
    padding: 10px;
    font-weight: bold;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 40px;
    border-radius: 8px;
    color: var(--blanco);
}

@keyframes cambioColor {
    0% {
        border-color: #9ee0e4; 
    }
    25% {
        border-color: #94d6da; 
    }
    50% {
        border-color: var(--azulClaro); 
    }
    100% {
        border-color: #6a989b; 
    }
}

.detalles {
    margin: 0 auto;
    margin-top: 40px;
    padding: 10px;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 2px solid;
    animation: cambioColor 3s infinite alternate;
    border-radius: 5px; 
}

.detallesFotoBoton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.detallesFotoBoton img {
    width: 300px;
    height: 255px;
}

.detallesFotoBoton div{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.detallesInfo p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

.volver {
    width: 50%;
    height: 15px;
    text-align: center;
    border: 1px solid var(--gris);
    background-color: #3b404b;
    color: var(--blanco);
    padding: 10px 3px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 13px;
}

.volver:hover {
    background-color: rgb(25, 27, 31);;
    box-shadow: 0px 0px 5px var(--azulClaro) inset;
    color: var(--azulClaro);
    transition: all 600ms;
}

.categoriasUrl {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.quienesSomos p {
    text-align: center;
}

.estudiantesImg{
    width: 350px;
    height: 320px;
    border-radius: 5px;
}

.estudiantesDivImg{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 20px;
}

.quienesSomosMaterias {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr;
    gap: 50px;
    padding: 0 110px;
    margin: 20px
}

.quienesSomosProfesores {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    gap: 25px;
    padding: 0 110px;
    margin: 20px;
}

.quienesSomosProfesores img {
    width: 500px;
    height: 350px;
    border-radius: 5px;
}

.quienesSomosServicios {
    gap: 25px;
    padding: 0 110px;
    margin: 70px;
}

.quienesSomosServiciosImg {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}

.quienesSomosServiciosImg div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quienesSomosServiciosImg img {
    width: 250px;
}

.quienesSomosServiciosImg img:hover {
    width: 270px;
}

.academicManager {
    margin: 0 auto;
}

.contactosP {
    text-align: center;
    padding: 20px;
}

.contactos textarea {
    font-size: 15px;
    width: 95%; 
    height: 150px; 
    padding: 10px;
    margin: 10px 0;
    font-size: 16px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    resize: none; 
}

.contactos textarea:focus {
    border-color: var(--azulClaro);
    outline: none; 
    background-color: var(--azulClaro);
    transition: all 600ms;
}

.contactos textarea:focus::placeholder {
    color: var(--blanco);
}

.contactos .botonEnviar {
    display: flex;
    justify-content: center;
}

.estudiantesInicio {
    display: flex;
    justify-content: center;
    align-items: center;
}

.estudiantesInicio img{
    width: 1200px;
    border-radius: 5px;
}

