
/*?Reglas Generales*/

:root {
    /*Colores*/
    --gris: #222831;
    --grisClaro: #494f5c;
    --azulClaro: #44a0a5;
    --azulOscuro: rgba(59, 141, 145, 0.747);
    --blanco: #EEEEEE;
    --negro: #13161b;
    --verde: #93d332;
    --rojo: #d33232;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inder", sans-serif;
    font-style: normal;
    text-decoration: none;
}

html {
    width: 100%;
}

body {
    width: 100%;
    background-color: var(--blanco);
}

li {
    list-style: none;
}

p {
    font-size: 18px;
    text-align: center;
}

hr {
    border: 2px solid var(--grisClaro);
}

h3 {
    color: var(--negro);
    padding: 5px;
    text-align: center;
    font-size: 25px;
}


/**Header*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    background-color: var(--gris);
    padding-bottom: 20px;
}

header img {
    display: block;
    width: 125px;
    float: left;
    margin: 20px 0 0 0;
}

header h1 {
    font-size: 32px;
    text-align: left;
    letter-spacing: 2px;
    margin: 23px 20px 0 0;
    color: var(--blanco);
}

header p {
    color: var(--blanco);
    text-align: start;
    font-size: 16px;
}

header div {
    margin: 20px;
}

.headerImg {
    display: flex;
    align-items: center;
    margin: 0;
}

.headerLogo {
    display: flex;
    align-items: center;
}

.headerInfo {
    display: flex;
    flex-direction: column;
    margin: 0;
}


/**Nav*/

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--azulClaro);
    margin: 0 auto;
    padding: 5px;
    border: 1px solid var(--azulOscuro);
}

.nav a{
    font-size: 15px;
    padding: 5px 8px;
    color: var(--blanco);
    font-weight: bold;
}

.nav a:hover{
    background-color: var(--azulOscuro);
    text-decoration: underline;
    border-radius: 5px;
    transition: all 600ms;
}

.navRegister {
    margin-top: 35px;
}

.navRegister a, .logOut{
    background-color: var(--azulClaro);
    color: var(--blanco);
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
}

.navRegister a:hover, .logOut:hover{
    background-color: var(--azulOscuro);
    transition: all 300ms;
}

.navDatos {
    margin-top: 40px;
    font-size: 16px;
    text-align: center; 
}

.navDatos p,
.navDatos small,
.navDatos a {
    text-align: center; 
}

.navDatos small {
    color: var(--azulClaro);
    font-weight: bold;
}

.navDatos a {
    padding: 5px; 
    font-size: 13px;
}

.navDatos div {
    margin-top: 8px;
}


/**Content Box*/

#content {
    width: 100%;
}

#content .box {
    background-color: var(--blanco);
    width: 100%;
    border-radius: 5px;
    min-height: 370px;
}

.box h2{
    text-align: center;
    color:  var(--negro);
    font-size: 40px;
}


/**Footer*/

footer {
    background-color: var(--gris);
    border: 1px solid var(--grisClaro);
    color: var(--blanco);
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;
    margin-top: 50px;
}

footer p {
    font-size: 16px;
}


/**Pagina 'Index'*/

.estudiantesInicio {
    display: flex;
    margin-bottom: 50px;
    margin-top: 40px;
}

.estudiantesInicioImg {
    flex: 1;
    max-width: 50%;
}

.estudiantesInicioImg img {
    width: 100%;
    height: auto; 
}

.estudiantesInicioP {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px; 
}

.estudiantesInicioP h3 {
    text-align: center;
}

.estudiantesInicioP a{
    width: 200px;
    text-align: center; 
    background-color: var(--grisClaro);
    color: var(--blanco);
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
}

.estudiantesInicioP a:hover{
    background-color: var(--azulOscuro);
    transition: all 300ms;
}

.estudiantesInicioP div {
    margin: 0 auto;
}


/**Pagina 'Quienes Somos'*/

.quienesSomos {
    margin-top: 50px;
    margin-bottom: 30px;
}

.quienesSomos p {
    text-align: center;
}

.estudiantesImg{
    width: 350px;
    height: 320px;
    border-radius: 5px;
}

.estudiantesDivImg{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 20px;
}

.quienesSomosMaterias {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr;
    gap: 50px;
    padding: 0 110px;
    margin: 20px
}

.quienesSomosProfesores {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    gap: 25px;
    padding: 0 110px;
    margin: 20px;
}

.quienesSomosProfesores img {
    width: 500px;
    height: 350px;
    border-radius: 5px;
}

.quienesSomosServicios {
    gap: 25px;
    padding: 0 110px;
    margin: 70px;
}

.quienesSomosServiciosImg {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}

.quienesSomosServiciosImg div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quienesSomosServiciosImg img {
    width: 250px;
}


/**Pagina 'Contactos'*/

.contactanos {
    margin: 30px;
    margin-bottom: 40px;
}

.contactosP {
    text-align: center;
    padding: 20px;
}

.contactos textarea {
    font-size: 15px;
    width: 95%; 
    height: 150px; 
    padding: 10px;
    margin: 10px 0;
    font-size: 16px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    resize: none; 
}

.contactos textarea:focus {
    border-color: var(--azulClaro);
    outline: none; 
    background-color: var(--azulClaro);
    transition: all 600ms;
}

.contactos textarea:focus::placeholder {
    color: var(--blanco);
}

.contactos .botonEnviar, .botonEnviar {
    display: flex;
    justify-content: center;
}


/**Pagina 'Academic Manager'*/

.academicManager {
    margin: 0 auto;
    margin-top: 130px;
}


form .divEnviar {
    display: flex;
    justify-content: center;
    align-items: center;
}

form .enviar {
    width: 50%;
    border: 1px solid var(--gris);
    background-color: #3b404b;
    color: var(--blanco);
    padding: 10px 3px;
    border-radius: 5px;
    font-weight: bold;
}

form .enviar:hover {
    background-color: var(--azulClaro);
    box-shadow: 0px 0px 5px var(--azulClaro) inset;
    color: var(--gris);
    transition: all 600ms;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--gris);
    border-radius: 5px;
    box-shadow: 0 0 10px var(--azulOscuro);
}

form input {
    width: 100%;
    padding: 10px;
    margin: 15px 0px;
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box; 
}

form input::placeholder {
    font-size: 15px;
}

form input:focus, .inputLogin:focus {
    background-color: var(--azulClaro);
    color: var(--blanco);
    transition: all 600ms;
    outline: none;
}

input:focus::placeholder {
    color: var(--blanco);
    transition: all 600ms;
}

input[type="file"] {
    width: 100%;
    border: 1px solid var(--grisClaro);
    background-color: var(--gris);
    color: var(--blanco);
    padding: 10px 10px;
    border-radius: 5px;
    font-weight: bold;
}

input[type="file"]::-webkit-file-upload-button {
    background-color: var(--gris);
    color: var(--blanco);
    padding: 10px 20px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

input[type="file"]::-webkit-file-upload-button:hover {
    background-color: var(--azulClaro);
    box-shadow: 0px 0px 5px var(--azulClaro);
    color: var(--gris);
    transition: all 600ms; 
}

.formEstCar, .formMatProf, #id_matProfesores {
    width: 100%; 
    margin: 10px 0px;
    padding: 5px 10px;
    font-size: 15px; 
    border: 1px solid var(--grisClaro); 
    border-radius: 5px; 
    background-color: #fff; 
    color:  var(--grisClaro); 
    }

.formEstCar::-webkit-select, .formMatProf::-webkit-select{
    appearance: none; 
}

.formEstCar:focus, .formMatProf:focus, #id_matProfesores:focus {
    border-color: var(--azulClaro);
    background-color: var(--azulClaro);
    transition: all 600ms;
    color: var(--blanco);
}

.formProfMaterias[multiple], 
.formCarMat[multiple],
.formMatCar[multiple],
#id_profMaterias,
#id_carMaterias,
#id_matCarrera {
    width: 100%; 
    padding: 5px 10px;
    margin: 10px 0px;
    font-size: 15px; 
    border: 1px solid var(--grisClaro); 
    border-radius: 5px; 
    background-color: #fff; 
    color:  var(--grisClaro); 
}

.formProfMaterias[multiple]::-webkit-select-list-button, 
.formCarMat[multiple]::-webkit-select-list-button,
.formMatCar[multiple]::-webkit-select-list-button
{
    display: none;
}

.formProfMaterias[multiple]:focus, 
.formCarMat[multiple]:focus,
.formMatCar[multiple]:focus,
#id_profMaterias:focus,
#id_carMaterias:focus,
#id_matCarrera:focus {
    border-color: var(--azulClaro);
    background-color: var(--azulClaro);
    color: var(--blanco);
}


.formMatDesc {
    font-size: 15px;
    width: 95%; 
    height: 150px; 
    padding: 10px;
    margin: 10px 0;
    font-size: 16px; 
    border: 1px solid gray; 
    border-radius: 5px; 
    resize: none; 
}

.formMatDesc:focus {
    border-color: var(--azulClaro);
    outline: none; 
    background-color: var(--azulClaro);
    transition: all 600ms;
}

.formEstFeNa, .formProfFeNa{
    color: gray;
    font-size: 15px;
}

.Btnvolver {
    margin: 20px;
    margin-top: 30px;
}

.divAñadir {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px 20px 10px;
    gap: 10px;
}

.boton { 
    font-weight: bold;
    background-color: var(--grisClaro);
    color: var(--blanco);
    padding: 5px;
    border-radius: 5px;
}

.boton:hover {
    background-color: var(--azulClaro);
    box-shadow: 0px 0px 5px var(--azulClaro) inset;
    color: var(--gris);
    transition: all 600ms;
}


.categoriasP {
    text-align: center;
    margin: 20px 0 40px 0;
}

.formMatDesc:focus::placeholder {
    color: var(--blanco);
    transition: all 600ms;
}

.errorlist li {
    padding: 10px 0px;
    color: var(--rojo);
    font-weight: bold;
}



form label, .register form label {
    color: var(--blanco);
    font-weight: bold;
}


.estudiante, .materia, .profesor, .carrera {
    list-style: none;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px; 
    padding: 10px;
    margin: 5px;
} 

.datos {
    border: 3px solid;
    animation: cambioColor 3s infinite alternate; 
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 5px; 
    margin-top: 10px;
}

.datos img {
    width: 250px;
    height: 270px;
}

.message {
    text-align: center;
    background-color: var(--verde);
    padding: 10px;
    font-weight: bold;
    width: fit-content;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 8px;
    color: var(--blanco);
}

.warning {
    background-color: var(--rojo);
    margin-top: 20px;
    margin-bottom: 20px;
}

.login, .register, .modificarDatos, .añadirDatos {
    margin: 50px 0;
}



@keyframes cambioColor {
    0% {
        border-color: #9ee0e4; 
    }
    25% {
        border-color: #94d6da; 
    }
    50% {
        border-color: var(--azulClaro); 
    }
    100% {
        border-color: #6a989b; 
    }
}

.detallesTexto {
    padding: 10px;
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
    gap: 10px;
    border: 2px solid;
    animation: cambioColor 3s infinite alternate;
    border-radius: 5px; 
    overflow: auto; 
    word-wrap: break-word; 
}

.detallesTexto p {
    margin: 5px;
}

.detallesBotones {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.detalles {
    margin: 0 auto;
    margin-top: 40px;
    padding: 10px;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 2px solid;
    animation: cambioColor 3s infinite alternate;
    border-radius: 5px; 
}

.detallesFotoBoton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.detallesFotoBoton img {
    width: 300px;
    height: 255px;
}

.detallesFotoBoton div{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.detallesInfo p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

.volver {
    width: 50%;
    height: 15px;
    text-align: center;
    border: 1px solid var(--gris);
    background-color: #3b404b;
    color: var(--blanco);
    padding: 10px 3px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 13px;
}

.volver:hover {
    background-color: var(--azulClaro);
    box-shadow: 0px 0px 5px var(--azulClaro) inset;
    color: var(--gris);
    transition: all 600ms;
}

.categoriasUrl {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}





