
* {
    margin: 0;
    padding: 0;
    font-family: "Inder", sans-serif;
    font-style: normal;
    text-decoration: none;
}

body {
    background-color: #3b404b;
}

header {
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222831;
    margin: 0 auto;
    border: 1px solid #13161b;
    padding-bottom: 20px;

}

li {
    list-style: none;
}

p {
    font-size: 18px;
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 100px;
    margin: 0 auto;
    padding-top: 10px;
}

.logo h1 {
    display: block;
    letter-spacing: 2px;
    margin: 23px 35px 0 0;
    color: #ECE3CE;
} 

.logo p {
    color: #ECE3CE;
    text-align: start;
}

.logo div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo img {
    display: block;
    width: 200px;
    float: left;
    margin: 20px 0 0 0;
}

#content ul li {
    list-style: none;
    list-style-type: none;
}

hr {
    border: 2px solid #3b404b;
}


h1 {
    font-size: 36px;
    display: block;
    letter-spacing: 2px;
    color: #EEEEEE;
    text-align: center;
    padding-top: 10px;
}

h3 {
    color: #13161b;
    padding: 5px;
    text-align: center;
    font-size: 25px;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #222831;
    border: 1px solid #13161b;
    margin: 0 auto;
    box-shadow: 0px 6px 14px #76ABAE;
}

.nav a{
    display: block;
    padding: 0 20px 0 20px;
    line-height: 40px;
    float: left;
    color: #EEEEEE;
    font-weight: bold;
}

.nav a:hover{
    background-color: #494f5c;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #31363F inset;
    color: #94d6da;
    transition: all 600ms;
}

#content {
    width: 1300px;
    margin: 40px auto 30px auto;
}

.formEstFeNa, .formProfFeNa{
    color: gray;
    font-size: 15px;
}

#content .box {
    background-color: #EEEEEE;
    width: 95%;
    min-height: 600px;
    padding: 20px ;
    padding-bottom: 70px;
    padding-top: 50px;
    border: 1px solid #76ABAE;
    margin: 0 auto;
    border-radius: 5px;
}

.box h2{
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    color:  #13161b;
    font-size: 40px;
}

.divAñadir {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 10px 60px 10px;
}

.boton { 
    border: 1px solid #222831;
    background-color: #3b404b;
    color: #EEEEEE;
    padding: 5px;
    border-radius: 5px;
}

.boton:hover {
    background-color: #0f1114;
    box-shadow: 0px 0px 5px #31363F inset;
    color: #99dde0;
    transition: all 600ms;
}

footer {
    background-color: #222831;
    border: 1px solid #222831;
    color: #EEEEEE;
    text-align: center;
    padding: 10px 0 10px 0;
    box-shadow: 0 0 20px #76ABAE;
    margin: 0 auto;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #222831;
    border-radius: 5px;
    box-shadow: 0 0 10px #76ABAE;
    margin-top: 20px;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 15px 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

form input::placeholder {
    font-size: 15px;
}

form input:focus {
    background-color: #94d6da;
    color: #FFFFFF;
    transition: all 600ms;
    outline: none;
}

input:focus::placeholder {
    color: #FFFFFF;
    transition: all 600ms;
}

input[type="file"] {
    width: 100%;
    border: 1px solid #222831;
    background-color: #3b404b;
    color: #EEEEEE;
    padding: 10px 10px;
    border-radius: 5px;
    font-weight: bold;
}

input[type="file"]::-webkit-file-upload-button {
    background-color: #222831;
    color: #EEEEEE;
    padding: 10px 20px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

input[type="file"]::-webkit-file-upload-button:hover {
    background-color: rgb(25, 27, 31);
    box-shadow: 0px 0px 5px #94d6da;
    color: #94d6da;
    transition: all 600ms; 
}

.formMatDesc {
    font-size: 15px;
    width: 95%; 
    height: 150px; 
    padding: 10px;
    margin: 10px 0;
    font-size: 16px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    resize: none; 
}

.formMatDesc:focus {
    border-color: #94d6da; 
    outline: none; 
    background-color: #94d6da;
    transition: all 600ms;
}

.categoriasP {
    text-align: center;
    margin: 20px 0 40px 0;
}

.formMatDesc:focus::placeholder {
    color: #FFFFFF;
    transition: all 600ms;
}

.errorlist li {
    padding: 10px 0px;
    color: rgb(211, 50, 50);
    font-weight: bold;
}

form label {
    color: #EEEEEE;
    font-weight: bold;
}

form .divEnviar {
    display: flex;
    justify-content: center;
    align-items: center;
}

form .enviar {
    width: 50%;
    border: 1px solid #222831;
    background-color: #3b404b;
    color: #EEEEEE;
    padding: 10px 3px;
    border-radius: 5px;
    font-weight: bold;
}

form .enviar:hover {
    background-color: rgb(25, 27, 31);;
    box-shadow: 0px 0px 5px #94d6da inset;
    color: #94d6da;
    transition: all 600ms;
}

.estudiante, .materia, .profesor, .carrera {
    list-style: none;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px; 
    padding: 10px;
    margin: 5px;
} 

.datos {
    border: 3px solid;
    animation: cambioColor 3s infinite alternate; 
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 5px; 
    margin-top: 10px;
}

.datos img{
    width: 300px;
    height: 255px;
}

.message {
    text-align: center;
    background-color: #93d332;
    padding: 10px;
    font-weight: bold;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 40px;
    border-radius: 8px;
    color: #FFFFFFFF;
}

@keyframes cambioColor {
    0% {
        border-color: #9ee0e4; 
    }
    25% {
        border-color: #94d6da; 
    }
    50% {
        border-color: #76ABAE; 
    }
    100% {
        border-color: #6a989b; 
    }
}

.detalles {
    margin: 0 auto;
    margin-top: 40px;
    padding: 10px;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 2px solid;
    animation: cambioColor 3s infinite alternate;
    border-radius: 5px; 
}

.detallesFotoBoton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.detallesFotoBoton img {
    width: 300px;
    height: 255px;
}

.detallesFotoBoton div{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.detallesInfo p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

.volver {
    width: 50%;
    height: 15px;
    text-align: center;
    border: 1px solid #222831;
    background-color: #3b404b;
    color: #EEEEEE;
    padding: 10px 3px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 13px;
}

.volver:hover {
    background-color: rgb(25, 27, 31);;
    box-shadow: 0px 0px 5px #94d6da inset;
    color: #94d6da;
    transition: all 600ms;
}

.categoriasUrl {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.quienesSomos p {
    text-align: center;
}

.estudiantesImg{
    width: 350px;
    height: 320px;
    border-radius: 5px;
}

.estudiantesDivImg{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 20px;
}

.quienesSomosMaterias {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr;
    gap: 50px;
    padding: 0 110px;
    margin: 20px
}

.quienesSomosProfesores {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    gap: 25px;
    padding: 0 110px;
    margin: 20px;
}

.quienesSomosProfesores img {
    width: 500px;
    height: 350px;
    border-radius: 5px;
}

.quienesSomosServicios {
    gap: 25px;
    padding: 0 110px;
    margin: 70px;
}

.quienesSomosServiciosImg {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}

.quienesSomosServiciosImg div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quienesSomosServiciosImg img {
    width: 300px;
}

.academicManager {
    margin: 0 auto;
}

.contactosP {
    text-align: center;
    padding: 20px;
}

.contactos textarea {
    font-size: 15px;
    width: 95%; 
    height: 150px; 
    padding: 10px;
    margin: 10px 0;
    font-size: 16px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    resize: none; 
}

.contactos textarea:focus {
    border-color: #94d6da; 
    outline: none; 
    background-color: #94d6da;
    transition: all 600ms;
}

.contactos textarea:focus::placeholder {
    color: #FFFFFF;
}

.contactos .botonEnviar {
    display: flex;
    justify-content: center;
}

.estudiantesInicio {
    display: flex;
    justify-content: center;
    align-items: center;
}

.estudiantesInicio img{
    width: 1200px;
    border-radius: 5px;
}

