
img {
    width: 300px;
    height: 200px;
    margin-bottom: 3rem;
    border-radius: .5rem;
}

html {
    font-size: 62.5%;
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 10rem;
}

button {
    font-family: 'Roboto Condensed', sans-seri
}

.libros {
    display: flex;
    gap: 10rem;
}

.libro {
    padding: 2rem;
    padding-bottom: 5rem;
}

.libro__content {
    text-align: center;
    font-size: 1.5rem;
    color: white;
}

.libro__content span {
    font-weight: bold;
}

.py {
    background-color: rgba(47, 156, 252, 0.774);
    border: 1.5rem solid rgba(37, 47, 74, 0.774);
}

.js {
    background-color: rgba(247, 225, 23, 0.76);
    border: 1.5rem solid rgba(4, 40, 6, 0.644);
}

.js p {
    color: black;
}

.libro__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.libro__buttons {
    display: flex;
    gap: 1rem;
    margin: 1rem;
}

.libro__buttons button {
    padding: .5rem 1.5rem;
    background-color: rgba(255, 255, 255, 0.445);
    border: 1px solid white;
    border-radius: .5rem;
    color: white;
}

.js button {
    color: black;
}

.comprar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comprar__boton, #comprar__total {
    margin-top: 3rem;
    margin-bottom:2rem;
    padding: 1.3rem 2.5rem;
    background-color: rgba(0, 0, 0, 0.596);
    color: white;
    border-radius: .5rem;
    font-size: 1.5rem;
}

#comprar__total {
    padding: 1.3rem 10rem;
    display: none;
    margin: 1rem;
    margin-bottom:3rem;
    border: 1px solid rgba(255, 255, 255, 0.575);
}