
{%extends 'layout.html'%}  <!-- Esta template se extiende hacia el template padre 'layout.html' -->
{%load static%} 

{%block content%}  <!-- contenido que se va a renderizar -->
    <h2 class="h2">Contactos</h2>
    <br>
    <div>
        <!--!Crear formulario-->
        <p>{{"creado por Juan Guillermo Zuluaga"| cut:' '}}</p>
        <p>{{texto|default:"No hay texto"}}</p>
        <p>{{nombres|first}}</p>
        <p>{{nombres|last}}</p>
        <p>{{nombres|join:", "}}</p>
        <p>{{nombres|length}}</p>
        <p>{{'colombia'|upper}}</p>
        <p>{{'colombia'|lower}}</p>
        <p>{{nombres|random}}</p>
        <p>{{'<h1>Hola</h1>'|striptags}}</p>
        <p>{{'<h1>Hola</h1>'|wordcount}}</p>
        <br>

        <h2>Ejemplos Propios</h2>

        <p>Es true?: {{true|yesno:"si,no,talvez"}}</p> 
        <p>Es true?: {{false|yesno:"si,no,talvez"}}</p> 
        <p> Es true?:{{none|yesno:"si,no,talvez"}}</p> 
        <br>
        <p>{{titulo|title}}</p> <!--'titulo' : 'MI PrImeRa ChamBa'-->
        <br>
        <p>{{hacerLista|make_list}}</p>

        {% for contacto in contactos %}  <!-- manera de hacer ciclos for en las templates -->
            <ul>
                <li>{{contacto}}</li>  <!-- se renderiza el array de contactos -->
            </ul>
        {% endfor %}
    </div>
{%endblock%}

<!-- 
    {empty} 
    {forloop.first}
    {forloop.counter}
    {forloop.revcounter}
    {|divisibleby:num|}
-->

