
{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <title>Document</title>
</head>
<body>
        <h1>Sitio Web Con Django | Maria Buenaventura</h1>

        <header>
            <nav class="nav">
                <a href="/holaMundo">Hola Mundo</a>
                <a href="/saludo">Saludo</a>
                <a href="/contacto">Contacto</a>
            </nav>
        </header>

        <section id="content">
            {%block content%}

            {%endblock%}
        </section>

        <footer>
            <p>&copy; All Rights Reserved | Maria Buenaventura</p>
        </footer>

</body>
</html>