
{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{%static 'img/DjangoLogo.png'%}">
    <title>Pagina con Django</title>
</head>
<body>
        {% comment 'Pagina' %}  
            Pagina de prueba
        {% endcomment %}

        <header>
            <div class="logo">
                <img src="{% static 'img/DjangoLogo.png' %}" alt="Logo Django"> 
                <h1>Sitio Web Con Django | Maria Buenaventura</h1>
            </div>
        </header>

        <nav class="nav">
            <a href="/">Inicio</a>
            <a href="/holaMundo">Hola Mundo</a>
            <a href="/saludo">Saludo</a>
            <a href="/contacto">Contacto</a>
        </nav>

        <div class="barra">
            <span class="esquinaIzquierda"></span>
            <span class="rellenoBarra"></span>
            <span class="esquinaDerecha"></span>
        </div>

        <section id="content">
            <div class="box">
                {%block content%}

                {%endblock%}
            </div>
        </section>

        <footer>
            <p>&copy; All Rights Reserved | Maria Buenaventura</p>
        </footer>

</body>
</html>